.footer {
  background-color: #1A1A1A;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.footer > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-direction: column;
  width: 18%;
  height: 110px;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__list .list__item {
  width: fit-content;
}

.footer__callback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer__callback .callback__tel,
.footer__callback .callback__mail {
  background-color: #FFBE17;
  border-radius: 25px;
  padding: 14px;
  color: black;
}
.footer__callback .callback__tel:hover,
.footer__callback .callback__mail:hover {
  opacity: 0.7;
}
.footer__callback .callback__tel:active,
.footer__callback .callback__mail:active {
  opacity: 0.5;
}
.footer__callback .callback__mail {
  margin-top: 14px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer__icons .icons__item {
  margin-left: 14px;
}
.footer__icons .icons__item:first-child {
  margin-left: 0px;
}